@model IEnumerable<MyVidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td>Customer</td>
        <td>DiscountRate</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@Html.ActionLink(a.Name,"Details","Customer",new {id = a.Id},null)</td>
                <td>@a.MembershipType.MemberShipName</td>
            </tr>
        }
    </tbody>
</table>